xsd/common.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>
This schema shoul be compatible with GeoGebra 4.0 file format.
</xs:documentation>
		<xs:appinfo>
This schema is a part of GeoGebra which is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or any later version.

This schema is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GeoGebra; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
</xs:appinfo>
	</xs:annotation>
	
	
	<xs:element name="construction">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded" minOccurs="0">
					<xs:element name="command">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="input" type="ioType"/>
								<xs:element name="output" type="ioType"/>
							</xs:sequence>
							<xs:attribute name="name" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element ref="element"/>
					<xs:element name="expression">
						<xs:complexType>
							<xs:attribute name="exp" type="xs:string"/>
							<xs:attribute name="label" type="xs:string"/>
							<xs:attribute name="type" type="elType"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="author" type="xs:string"/>
			<xs:attribute name="date" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="element">
	<xs:annotation>
	<xs:documentation>
	Subelements tooltipMode, javascript, ggbscript and linkedGeo only available with GeoGebra >= 4.0.
	</xs:documentation>
	</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="animation" type="animation" minOccurs="0"/>
				
				<xs:element name="lineStyle" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="thickness" type="lineThickness"/>
						<xs:attribute name="type" type="lineTypes"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="eqnStyle" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="style" type="eqnStyles" use="required"/>
						<xs:attribute name="parameter" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="value" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="val" type="doubleOrBool" use="required"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="slopeTriangleSize" type="intVal" minOccurs="0"/>
				
				<xs:element name="show" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="object" type="xs:boolean"/>
						<xs:attribute name="label" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="condition" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="showObject" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="checkbox" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="fixed" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="objColor" type="rgbaColor"/>
				
				<xs:element name="layer" type="intVal" minOccurs="0"/>
				 
				<xs:element name="labelMode" type="intVal" minOccurs="0"/>
				
				<xs:element name="outlyingIntersections" type="boolVal" minOccurs="0"/>
				
				<xs:element name="keepTypeOnTransform" type="boolVal" minOccurs="0"/>
				
				<xs:element name="caption" type="stringVal" minOccurs="0"/>
				
				<xs:element name="absoluteScreenLocation" minOccurs="0" type="xyCoords"/>
				
				<xs:element name="labelOffset" minOccurs="0" type="xyCoords"/>
				
				<xs:element name="tooltipMode" minOccurs="0" type="tooltipModes"/>
				
				<xs:element name="linkedGeo" minOccurs="0">
				<xs:complexType>
							<xs:attribute name="exp" type="xs:string"/>
							
				</xs:complexType>
				</xs:element>
						
				
				<xs:element name="javascript" minOccurs="0" type="stringVal"/>
				<xs:element name="ggbscript" minOccurs="0" type="stringVal"/>
				<xs:element name="file" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="inBackground" type="boolVal" minOccurs="0"/>
				
				<xs:element name="eigenvectors" type="eigenvectors" minOccurs="0"/>
				
				<xs:element name="matrix" type="matrix" minOccurs="0" />
				
				<xs:element name="auxiliary" type="boolVal" minOccurs="0"/>
				
				<xs:element name="slider" type="slider" minOccurs="0"/>
				
				<xs:element name="fixed" type="boolVal" minOccurs="0"/>
				
				<xs:element name="font" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="serif" type="xs:boolean"/>
						<xs:attribute name="size" type="positiveInt"/>
						<xs:attribute name="style" type="nonNegInt"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="coords" type="coords" minOccurs="0"/>
				
				<xs:element name="startPoint" type="expCoords" minOccurs="0"/>
				
				<xs:element name="pointStyle" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="val" type="pointStyles"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="pointSize" type="doubleVal" minOccurs="0"/>
				<xs:element name="coordStyle" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="style" type="coordStyles"/>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="allowReflexAngle" type="boolVal" minOccurs="0"/>
				
				<xs:element name="forceReflexAngle" type="boolVal" minOccurs="0"/>
				
				<xs:element name="decoration" minOccurs="0">
				<xs:complexType>
				<xs:attribute name="type" type="decorTypes"/>
				</xs:complexType>
				</xs:element>
				
				<xs:element name="emphasizeRightAngle" type="boolVal" minOccurs="0"/>
				
				<xs:element name="arcSize" type="intVal" minOccurs="0"/>
			
			</xs:all>
			<xs:attribute name="type" type="elType"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="positiveInt">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="nonNegInt">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="intVal">
		<xs:attribute name="val" type="xs:int" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="doubleVal">
		<xs:attribute name="val" type="xs:double" use="required"/>
	</xs:complexType>
				
	
	<xs:simpleType name="doubleOrBool">
		<xs:union memberTypes="xs:double xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="boolVal">
		<xs:attribute name="val" type="xs:boolean" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="stringVal">
		<xs:attribute name="val" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="xyCoords">
		<xs:attribute name="x" type="xs:double" use="required"/>
		<xs:attribute name="y" type="xs:double" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="coords">
		<xs:attribute name="x" type="xs:double" use="required"/>
		<xs:attribute name="y" type="xs:double" use="required"/>
		<xs:attribute name="z" type="xs:double" use="required"/>
		<xs:attribute name="w" type="xs:double"/>
	</xs:complexType>
	
	<xs:complexType name="expCoords">
		<xs:annotation>
			<xs:documentation>
	Either exp (for relative start point) or numers x, y, z (for absolute start point) must be entered.
	Number parameter is valid only for image elements and reffers to one of the corners (1 to 3)
	</xs:documentation>
		</xs:annotation>
		<xs:attribute name="number" type="nonNegInt"/>
		<xs:attribute name="x" type="xs:double"/>
		<xs:attribute name="y" type="xs:double"/>
		<xs:attribute name="z" type="xs:double"/>
		<xs:attribute name="exp" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="animation">
		<xs:attribute name="step" type="xs:double"/>
		<xs:attribute name="speed" type="xs:double"/>
		<xs:attribute name="type" type="nonNegInt"/>
		<xs:attribute name="playing" type="xs:boolean"/>
	</xs:complexType>
	
	<xs:complexType name="rgbColor">
		<xs:attribute name="r" type="nonNegInt" use="required"/>
		<xs:attribute name="g" type="nonNegInt" use="required"/>
		<xs:attribute name="b" type="nonNegInt" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="rgbaColor">
		<xs:attribute name="r" type="nonNegInt" use="required"/>
		<xs:attribute name="g" type="nonNegInt" use="required"/>
		<xs:attribute name="b" type="nonNegInt" use="required"/>
		<xs:attribute name="alpha" type="xs:double"/>
	</xs:complexType>
				
	
	<xs:complexType name="ioType">
		<xs:attribute name="a0" type="xs:string"/>
		<xs:attribute name="a1" type="xs:string"/>
		<xs:attribute name="a2" type="xs:string"/>
		<xs:attribute name="a3" type="xs:string"/>
		<xs:attribute name="a4" type="xs:string"/>
		<xs:attribute name="a5" type="xs:string"/>
		<xs:attribute name="a6" type="xs:string"/>
		<xs:attribute name="a7" type="xs:string"/>
		<xs:attribute name="a8" type="xs:string"/>
		<xs:attribute name="a9" type="xs:string"/>
		<xs:attribute name="a10" type="xs:string"/>
		<xs:attribute name="a11" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="slider">
		<xs:attribute name="min" type="xs:double"/>
		<xs:attribute name="max" type="xs:double"/>
		<xs:attribute name="width" type="xs:double" use="required"/>
		<xs:attribute name="x" type="xs:double" use="required"/>
		<xs:attribute name="y" type="xs:double" use="required"/>
		<xs:attribute name="fixed" type="xs:boolean" use="required"/>
		<xs:attribute name="absoluteScreenLocation" type="xs:boolean"/>
		<xs:attribute name="horizontal" type="xs:boolean" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="eigenvectors">
		<xs:attribute name="x0" type="xs:double" use="required"/>
		<xs:attribute name="x1" type="xs:double" use="required"/>
		<xs:attribute name="y0" type="xs:double" use="required"/>
		<xs:attribute name="y1" type="xs:double" use="required"/>
		<xs:attribute name="z0" type="xs:double" use="required"/>
		<xs:attribute name="z1" type="xs:double" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="matrix">
		<xs:attribute name="A0" type="xs:double" use="required"/>
		<xs:attribute name="A1" type="xs:double" use="required"/>
		<xs:attribute name="A2" type="xs:double" use="required"/>
		<xs:attribute name="A3" type="xs:double" use="required"/>
		<xs:attribute name="A4" type="xs:double" use="required"/>
		<xs:attribute name="A5" type="xs:double" use="required"/>
	</xs:complexType>
	
	<xs:simpleType name="elType">
	<xs:annotation>
	<xs:documentation>
	Values "button" and "textfield" only available for GeoGebra >=4.0
	</xs:documentation>
	</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="angle|boolean|button|conic(part)?|function|image|line(3d)?|list|numeric|point(3d)?|polygon(3d)?|ray(3d)?|segment(3d)?|text(field)?|vector"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="algebraStyles">
		<xs:annotation>
			<xs:documentation>
				Meaning of values:0=value,1=definition,2=command.
				</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tickStyles">
		<xs:annotation>
			<xs:documentation>
				Meaning of values:0=major minor,1=major,2=none
				</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="axisTypes">
		<xs:annotation>
			<xs:documentation>
				Meaning of values:0=full,1=arrrow,2=full bold,3=full arrow bold
				</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="lineThickness">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="13"/>
		</xs:restriction>
	
	</xs:simpleType>
	
	<xs:simpleType name="lineTypes">
		<xs:annotation>
			<xs:documentation>
	Meanings of values: 0=full, 10=dashed short,15=dashed long,20=dotted,30=dashed dotted
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="decorTypes">
		<xs:annotation>
			<xs:documentation>
	Meanings of values: 0=none, 1=single tick,2=double tick, 3=tripple tick, 4=simple arrow,
	5=double arrow, 6=tripple arrow.square, 2=dot,3=L (Belgian style).
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="rightAngleStyles">
		<xs:annotation>
			<xs:documentation>
	Meanings of values: 0=none, 1=square, 2=dot,3=L (Belgian style).
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="pointCapturings">
		<xs:annotation>
			<xs:documentation>
	Meanings of values: 0=off, 1=on, 2=on grid,3=automatic.
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="gridTypes">
		<xs:annotation>
			<xs:documentation>
	Meanings of values: 0=cartesian, 1=isometric
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="axisIds">
		<xs:annotation>
			<xs:documentation>
	Meanings of values: 0=x, 1=y, 2=z
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="pointStyles">
		<xs:annotation>
			<xs:documentation>
	Meanings of values: -1=use global default, 0=full dot, 1=cross, 2=empty dot, 3=plus sign, 4=full diamond, 5=empty diamond, 
	6=triangle north, 7=triangle south, 8=triangle east, 9=triangle west.
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="-1"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="tooltipModes">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
		</xs:simpleType>
		
	<xs:simpleType name="eqnStyles">
		<xs:restriction base="xs:string">
			<xs:pattern value="implicit|explicit|specific|parametric"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="angleUnits">
		<xs:restriction base="xs:string">
			<xs:pattern value="degree|radiant"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="coordStyles">
		<xs:restriction base="xs:string">
			<xs:pattern value="cartesian|polar|complex"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
